.hero {
    background: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExa2Vya2xmZmx6d3o0engxZWc0cXhhZ3R2bjBmOHhmNDZ0cDVwMGVhOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/32dfpYx8kBX1bXSEu8/giphy.webp') 
                center/cover no-repeat;
    color: #fff;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    
}
